@use '../../../shared/style/colors.scss' as *;

.skillset {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 1; // Erzeugt einen Stacking Context, damit das ::before im Hintergrund bleibt

  // Vollflächiger Hintergrund durch Pseudo-Element
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to right, $primary-color, $secondary-color);
    z-index: -1;
  }

  padding: 180px 18px;

  h2 {
    text-align: center;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 0;
  }

  &-div {
    margin: 0;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }

    .main-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease;
    }

    .hover-bubble {
      position: absolute;
      bottom: 70px;
      right: -120px;
      width: 200px;
      height: 120px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px) scale(0.9);
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      pointer-events: none;
      z-index: 10;
    }

    /* Der Hover-Effekt */
    &:hover {
      font-weight: 800;

      .main-icon {
        transform: translateY(-10px);
      }

      .hover-bubble.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) scale(1);
      }
    }
  }

  figcaption {
    color: $white;
    font-size: 16px;
    text-align: center;
  }

  @media (max-width: 1050px) {
    &-div {
      width: 30%;
    }
  }

  @media (max-width: 800px) {
    &-div {
      width: 50%;
    }
  }
  @media (max-width: 720px) {
    padding: 100px 18px;
  }

  @keyframes bounce {
    to {
      transform: translateY(-20px);
    }
  }
}
