<section class="imprint-container"> 
    <div class="circle circle-top-right"></div>
  <div class="circle circle-bottom-left"></div>

  <div class="imprint-content">
    <h1 class="legal-notice-title">{{ "privacy.title" | translate }}</h1>

    <section class="legal-section">
      <h3>{{ "privacy.h1_allg" | translate }}</h3>
      <p>{{ "privacy.p1_allg" | translate }}</p>
    </section>

    <section class="legal-section">
      <h3>{{ "privacy.h2_hosting" | translate }}</h3>
      <p>{{ "privacy.p2_hosting" | translate }}</p>
    </section>

    <section class="legal-section">
      <h3>{{ "privacy.h2_datenerfassung" | translate }}</h3>
      <p>{{ "privacy.p3_kontakt" | translate }}</p>
    </section>

    <section class="legal-section">
      <h3>{{ "privacy.h2_rechte" | translate }}</h3>
      <p>{{ "privacy.p4_rechte" | translate }}</p>
    </section>

    <section class="legal-section">
      <h3>{{ "privacy.h2_googlefonts" | translate }}</h3>
      <p>{{ "privacy.p5_googlefonts" | translate }}</p>
    </section>
  </div>
</section>