<section class="hero">
  <div class="main">
    <div class="row-hero">
      <div class="col-left">
        <h2>{{ 'aboutme.title' | translate }}</h2>
        <p class="iam-text">{{ 'aboutme.iam' | translate }}</p>
        <div class="icon-container">
          <div class="icon-item">
            <img
              ngSrc="/assets/img/icons/hero/loca.svg"
              alt=""
              width="33"
              height="40"
              style="width: auto"
              priority
            />
            <span>{{ 'aboutme.location' | translate }}</span>
          </div>
          <div class="icon-item">
            <img
              ngSrc="/assets/img/icons/hero/remotea.svg"
              alt=""
              width="54"
              height="47"
              style="width: auto"
              priority
            />
            <span>{{ 'aboutme.remote' | translate }}</span>
          </div>
          <div class="icon-item">
            <img
              ngSrc="/assets/img/icons/hero/reloca.svg"
              alt=""
              width="30"
              height="49"
              style="width: auto"
              priority
            />
            <span>{{ 'aboutme.relocate' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-right hero-flex">
        <div class="hero-circle-little"></div>
        <p>
          {{ 'aboutme.letswork' | translate }}
        </p>
        <a class="btn-primary" href="#contact">{{ 'aboutme.buttontxt' | translate }}</a>
      </div>
    </div>
  </div>
</section>
<span id="skills"></span>
