$primary-color: #5988ff;
$secondary-color: #0043f0;
$linear-color: #a0d0f0;
$text-blue: #2558e5; // Kontrastreicheres Blau für Texte & Buttons

$form-green: #ccff00;
$form-grey: #767676; // Dunkleres Grau für WCAG-konforme Umrandungen
$hover-color-light: #b5d3ff;

$error-color: #cc0000; // Dunkleres Rot für ausreichend Lighthouse-Kontrast (WCAG AA)
$ok-color: #70e61c;

$grey-color: #d9d9d9;

$font-color-dark: #000;
$white: #fff;

$primary-font: 'Montserrat';
$secondary-font: 'Baloo';
