<section class="header">
  <div class="main">
    <div class="header-row">
      <div class="col-6">
        <div class="header-left">
          <div class="header-circle-desk"></div>
          <img
            class="header-left-img"
            ngSrc="assets/img/sven/sven.webp"
            alt="Portrait of Sven"
            width="761"
            height="850"
            priority
          />
        </div>
      </div>
      <div class="col-6">
        <div id="hello" class="header-content">
          <div class="header-hello">{{ 'header.hello' | translate }}</div>
          <h1 style="margin: 0; padding: 0">
            <span class="h1 header-h1-1" style="display: block">{{
              'header.title1' | translate
            }}</span>
            <span class="h1 header-h1-2" style="display: block">{{
              'header.title2' | translate
            }}</span>
          </h1>
        </div>
        <div class="header-btn-box">
          <div class="header-btn-box-scroll">
            <div class="header-btn-box-scroll-text">{{ 'header.scroll' | translate }}</div>
            <div class="header-btn-box-scroll-line"></div>
          </div>
          <nav class="header-btn-box-social" aria-label="Social Media Links">
            <a
              href="https://github.com/SiriusSagittarius"
              target="_blank"
              rel="noopener noreferrer"
              title="GitHub"
              aria-label="Mein GitHub Profil"
            >
              <img
                ngSrc="assets/img/icons/social/github.svg"
                alt=""
                width="30"
                height="30"
                loading="eager"
              />
            </a>
            <a href="mailto:info@svenhaase.de" title="Email" aria-label="Sende mir eine E-Mail">
              <img
                ngSrc="assets/img/icons/social/mail.svg"
                alt=""
                width="30"
                height="30"
                loading="eager"
              />
            </a>
            <a
              href="https://www.linkedin.com/in/sven-haase-685858398"
              target="_blank"
              rel="noopener noreferrer"
              title="LinkedIn"
              aria-label="Mein LinkedIn Profil"
            >
              <img
                ngSrc="assets/img/icons/social/linkedin.svg"
                alt=""
                width="30"
                height="30"
                loading="eager"
              />
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header-circle-little"></div>
  <img
    class="header-rolldown"
    ngSrc="assets/img/icons/go_up/rolldown.svg"
    alt="Scroll down"
    width="28"
    height="160"
    style="width: auto; height: auto"
    loading="eager"
  />
</section>
<span id="aboutme"></span>
